<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expensetracker">

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.ExpenseTracker">

        <!-- Activities -->
        <activity android:name="com.example.expensetracker.GettingStartedActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.expensetracker.LoginActivity" android:exported="true" />
        <activity android:name="com.example.expensetracker.SignupActivity" android:exported="true" />
        <activity android:name="com.example.expensetracker.AuthActivity" android:exported="true" />
        <activity android:name="com.example.expensetracker.MainActivity" android:exported="true" />
        <activity android:name="com.example.expensetracker.AddTransactionActivity" android:exported="true" />
        <activity android:name="com.example.expensetracker.SetBudgetActivity" android:exported="true" />
        <activity android:name="com.example.expensetracker.InsightsActivity" android:exported="true" />
        <activity android:name="com.example.expensetracker.PieChartActivity" android:exported="true" />

    </application>

</manifest>
